@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* navbar style */

.main-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: 0.8;
    color: white;
    position: fixed;
    z-index: 11 !important;
}

nav ul {
    display: flex;
}

.main-navbar a {
    padding: 5px 10px;
    color: white;
}

.main-navbar a:hover {
    border-bottom: 2px #bd2f2f solid;
}

.logo {
    padding: 10px 5px;
    font-size: 25px;
}

/* main case style */

.main-case {
    background: url(../img/company-people.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
}

.main-case h2 {
    font-size: 55px;
    border-bottom: 4px #bd2f2f solid;
}

.main-case p {
    font-size: 25px;
    padding: 5px 10px;
    margin-top: 10px;
    border-left: 2px #bd2f2f solid;
    border-right: 2px #bd2f2f solid;
}

.main-case .btn {
    margin-top: 22px;
}

.main-case::before {    
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: gray;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
}

.body * {
    z-index: 10;
}

/* about logo style */

.about-logo .logo-container {
    display: flex;
    text-align: center;
}

.logo-items {
    padding: 30px;
    line-height: 1.6em;
    height: 250px;
}

.logo-items h3 {
    font-size: 20px;
    margin-top: 5px;
}

.logo-items p {
    margin-top: 25px;
}

.logo-items i{
    margin-bottom: 10px;
}

.about-icon {
    display: inline-block;
    background-color: #bd2f2f;
    padding: 15px 15px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/* about complet style */

.about-text h2, .about-text p {
    padding: 25px;
    font-size: 20px;
}

.about-text a {
    width: 130px;
    margin-left: 20px;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cases style */

.cases-gallery .row img{
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.cases-gallery .row img:hover {
    opacity: 0.7;
    cursor: pointer;
}



/* blog style */
.blog {
    margin-top: 50px;
}


.blog-text h2, .about-text p {
    padding: 25px;
    font-size: 20px;
}

.blog-text p {
    /* width: 500px; */
    margin-left: 20px;
    padding-bottom: 20px;
}

.blog-text a {
    width: 130px;
    margin-left: 20px;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* team gallery style */
.team-gallery {
    padding: 20px;
    padding-bottom:40px;
}

.team-gallery .row img{
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    border-radius: 50%;
}

/* request call back */
/* .blog-container {
    
} */

.request-form {
    padding: 20px;
}

.request-form input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

.req-title {
    text-align: center;
    font-size: 35px;
}
.request-sumbit input {
    width: 500px;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
}

.request-sumbit input:focus {
    outline: none;
}

.request-sumbit input:hover {
    opacity: 0.8;
}

/* footer */
#footer {
    background-color: gray;
    height: 100px;
}
.footer-logo {
    padding: 20px;
}


/* mobile responsive */
@media screen and (max-width: 500px) {
    .main-navbar {
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .main-navbar a{
        margin-bottom: 5px;
    }

    .main-case {
        text-align: center;
    }

    .about-logo .logo-container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .about-complet-container {
        display: flex;
        flex-direction: column;
    }

    .about-complet-container .about-text a {
        display: flex;
        margin-bottom: 20px;
    } 

    .cases-gallery-photo {
        display: flex;
        flex-direction: column;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
    }

    .blog-text {
        height: 400px;
    }

    .team-gallery-main {
        display: flex;
        flex-direction: column;
    }

    .request-call-back .blog-container {
        display: flex;
        flex-direction: column;
    }
    .request-call-back .blog-container .blog-text {
        height: 530px;
    }

    .request-sumbit input{

        width: 90%;
    }

    .main-case h2, .main-case p{
        font-size: 20px;
    }
}

@media screen and (max-width: 376px) {
    .main-navbar {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 110px;
    }

    .main-case h2, .main-case p{
        font-size: 20px;
    }

    /* .main-navbar li a {
        padding-bottom: 15px;
    } */

}